alias ls='ls -aG'
alias grep='grep --color=auto'
alias diff='colordiff'
alias bashconfig='vim ~/.bashrc'
alias bruunch='HARD_OBFUSCATION=false LOGGY_STACKS=1 DEBUG=true brunch w -n --server'
alias bruunchProd='HARD_OBFUSCATION=true LOGGY_STACKS=1 DEBUG=false brunch  w -n --server'
alias cat='ccat'
alias tarbz2pack='tar cjvf'
alias msngr='fb-messenger-cli'
alias play='afplay'
alias sml='rlwrap sml'
source ~/.funcs.sh

